.similar-list-con {
  width: 30%;
  background-color: #272727;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.similar-job-container1 {
  display: flex;
  flex-direction: row;
}
.similar-logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.title1 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 15px;
  color: white;
}
.rating1 {
  font-family: 'Roboto';
  font-size: 12px;
  color: white;
}
.similar-sub-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.similar-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.similar-para {
  margin-left: 4px;
  color: white;
}
.heading1 {
  font-family: 'Roboto';
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .similar-list-con {
    width: 80%;
    background-color: #272727;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
